body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #212121;
}
.logo {
  font-weight: 700;
  font-size: 26;
  color: #000000;
}
.web {
  color: #2196f3;
}
.navigation {
  font-weight: 500;
  font-size: 14;
  color: #212121;
  text-decoration: none;
}

.link:focus,
.link:active {
  color: #2196f3;
}

.contact {
  font-weight: 500;
  font-size: 14;
  color: #757575;
  text-decoration: none;
}

.contact:focus,
.contact:active {
  color: #2196f3;
}

.main {
  background-color: #2f303a;
}

.main-text {
  font-weight: 900;
  font-size: 44;
  color: #ffffff;
}

.main-button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16;
  cursor: pointer;
}

.category-buttons {
  list-style-type: none;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16;
  cursor: pointer;
}
.category-buttons:focus,
.category-buttons:active {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
}
.footer > .logo {
  font-weight: 700;
  font-size: 26;
  color: #000000;
}
.address {
  color: #ffffff;
}

.contact-footer {
  color: rgba(255, 255, 255, 60%);
}

.contact-footer:focus,
.contact-footer:active {
  color: #2196f3;
}

.title-list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  color: #212121;
}

.text {
  color: #757575;
}

.section-title {
  font-weight: 700;
  font-size: 36;
  color: #212121;
}

.name {
  font-weight: 500;
  font-size: 16;
  color: #212121;
}

.job {
  font-size: 16;
  color: #757575;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18;
  color: #212121;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16;
  color: #757575;
}
