:root {
  --highlights: #2196f3;
  --titles: #212121;
  --logo: #000000;
  --mainandaddress: #ffffff;
  --background1: #2f303a;
  --background2: #f5f4fa;
  --descriptions: #757575;
}
body {
  font-family: "Roboto", "Montserrat", "Open Sans", "Arial", sans-serif;
}
a {
  text-decoration: none;
  color: var(--titles);
}
.logo {
  font-weight: 700;
  font-size: 26;
  color: var(--logo);
  font-family: "Raleway", sans-serif;
}
.web {
  color: var(--highlights);
}
.navigation {
  font-weight: 500;
  font-size: 14;
  color: var(--titles);
  text-decoration: none;
}

.link:focus,
.link:active {
  color: var(--highlights);
}

.contact {
  font-weight: 500;
  font-size: 14;
  color: var(--descriptions);
  text-decoration: none;
}

.contact:focus,
.contact:active {
  color: var(--highlights);
}

.main {
  background-color: var(--background1);
}

.main-text {
  font-weight: 900;
  font-size: 44;
  color: var(--mainandaddress);
  line-height: 1.4;
}

.main-button {
  background-color: var(--highlights);
  color: var(--mainandaddress);
  font-weight: 700;
  font-size: 16;
  cursor: pointer;
}

.category-buttons {
  list-style-type: none;
  background-color: var(--background2);
  color: var(--titles);
  font-weight: 500;
  font-size: 16;
  cursor: pointer;
}
.category-buttons:focus,
.category-buttons:active {
  color: var(--highlights);
}

.footer {
  background-color: var(--background1);
}
.footer > .logo {
  font-weight: 700;
  font-size: 26;
  color: var(--logo);
}
.address {
  color: var(--mainandaddress);
}

.contact-footer {
  color: rgba(255, 255, 255, 60%);
}

.contact-footer:focus,
.contact-footer:active {
  color: var(--highlights);
}

.title-list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  color: var(--titles);
}

.text {
  color: var(--descriptions);
}

.section-title {
  font-weight: 700;
  font-size: 36;
  color: var(--titles);
}

.section-title-background {
  background-color: var(--background2);
}

.name {
  font-weight: 500;
  font-size: 16;
  color: var(--titles);
}

.job {
  font-size: 16;
  color: var(--descriptions);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18;
  color: var(--titles);
}

.portfolio-type {
  font-weight: 400;
  font-size: 16;
  color: var(--descriptions);
}
